.login-success p{
    color: white;
    text-align: center;
    font-size: xx-large;
}

.login-success{
    margin-left: 90%;
    width: 100%;
}
.login-success li{
    list-style: none;
}
.login-success button{
    background-color: white;
    color: black;
    margin-left: 42%;
}
.login-success button:hover{
opacity: 0.7;
transition: 0.5s;
}